# R

.RData
.Rhistory
renv/

# Python

Cell_Cycle/FoF16_210818_fluorescent.cytoplasm/
Cell_Cycle/I05_multiOrganelles_Linked/
Cell_Cycle/__pycache__/
Cell_Cycle/3D_images/
Cell_Cycle/3D_scatter_images/
PMO_env
